## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[13, 14, 76, 90, 86, 34, 42, 61, 2, 98, 25, 72, 95, 71, 93, 96, 62, 19, 0, 99, 43, 45, 36, 59, 60, 10, 91, 53, 12, 38, 78, 81, 6, 39, 84, 73, 94, 1, 18, 30, 75, 58, 51, 57, 29, 87, 3, 88, 66, 82, 52, 15, 80, 74, 67, 37, 77, 40, 85, 5, 20, 68, 46, 16, 69, 64, 4, 9, 8, 24, 17, 23, 97, 11, 27, 44, 54, 32, 65, 31]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set1=set((sample_list_1))
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here

sample_list_2=[]

for x in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[51, 9, 75, 27, 55, 88, 49, 98, 40, 66, 11, 93, 93, 44, 45, 22, 65, 70, 80, 71, 86, 70, 92, 85, 34, 36, 98, 58, 16, 25, 81, 31, 68, 85, 36, 30, 67, 42, 79, 56, 57, 79, 19, 50, 98, 64, 32, 21, 63, 17, 45, 54, 85, 10, 63, 74, 1, 85, 45, 94, 38, 90, 45, 72, 80, 86, 32, 12, 57, 8, 33, 59, 51, 92, 98, 97, 43, 15, 23, 46]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)

{4, 6, 10, 11, 12, 13, 16, 17, 18, 19, 21, 23, 24, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 51, 52, 53, 54, 55, 57, 61, 63, 64, 67, 69, 70, 75, 79, 83, 84, 87, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here

set3=set()
for x in set1:
    if x not in set2:
        set3.add(x)
print(set3)

{0, 1, 2, 3, 5, 8, 9, 14, 15, 20, 25, 27, 38, 40, 44, 45, 46, 58, 59, 60, 62, 65, 66, 68, 71, 72, 73, 74, 76, 77, 78, 80, 81, 82, 85, 86, 88, 90, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here
set4=set()
for x in set2:
    if x not in set1:
        set4.add(x)
print(set4)

{33, 35, 100, 70, 41, 79, 83, 21, 55, 89, 92, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [23]:
# Your code here
set5=set2.intersection(set1)
print(set5)

{4, 6, 10, 11, 12, 13, 16, 17, 18, 19, 23, 24, 29, 30, 31, 32, 34, 36, 37, 39, 42, 43, 51, 52, 53, 54, 57, 61, 64, 67, 69, 75, 84, 87, 91, 93, 94, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [35]:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

# Your code here
print(f"""la relation entre len(set1), len(set5) y len(set3) es {len(set1)==len(set5)+len(set3)} y la relacion entre len(set2), 
len(set5) y len(set4) es {len(set2)==len(set5)+len(set4)}""")

80

53

39

12

41

la relation entre len(set1), len(set5) y len(set3) es True y la relacion entre len(set2),
len(set5) y len(set4) es True

#### Create an empty set called `set6`.

In [36]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [37]:
# Your code here
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [38]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here
set2inset1=set2.issubset(set1)
set2inset1

set3inset1=set3.issubset(set1)
set3inset1

False

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
union1=set()
print(union1.union(set3,set4,set5))

union2=set()
print(union2.union(set1,set2))

union1==union2

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
#no es posible indexar en los sets, no puedo usar pop. Pero puedo cambiar set a la lista y usar pop(0):

lst1=list(set1)
lst1.pop(0)

#tengo error si intento usar pop con el set

set1.pop(0)

0

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
set_to_remove.difference_update(set1)
print(set_to_remove)

{21, 41, 49, 79, 89}